@media screen and (max-width: 480px) { 
    header {
        position: fixed;
        top: 0;
        font-size: .9em;
        display: grid;
        grid-template-columns: 80% 20%;
        width: 100%;
        background: #2d7cfa;
    }
    header h1 {
        font-family: 'Shadows Into Light', cursive;
        position: fixed;
        width: 80%;
        float: left;
        padding-left: 4px;
        background: #2d7cfa;
    }
    #long_title {
        display: none;
    }
    #banner_image {
        display: none;
    }
    #banner_image_home {
        display: none;
    }
    nav {
        padding-top: 60px;
    }
    nav ul {
        list-style-type: none;
        text-align: center;
        float: right;
        width: 50%;
    }
    #nav_list {
        display: none;
    }
    #tech_icon_header {
        float: left;
        padding: 3px;
        opacity: .7;
    }
    #tech_icon {
        padding-top: 70px;
        float: left;
    }
    #menu_icon {
        text-align: right;
        margin: 10px 25px auto auto;
        transform: scale(2);
    }
    #main_title {
        float: left;
        width: 100%;
        font-size: 2.5em;
        padding-top: 50px;
    }
    #main_text {
        width: 100%;
        font-size: 1.2em;
        display: inline-block;
    }
    #example_pictures {
        margin-top: 15px;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 20px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    #example_title {
        font-size: 1.5em;
        text-align: center;
    }
    #example_figure {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        text-align: center;
    }
    main ul li {
        padding-top: 10px;
    }
    body{
        margin-bottom: 40px;
    }
    form {
        width: 100%;
        margin: 0;
        
    }
    .form_element {
        display: block;
        padding-top: 5px;
    }
    #general_information {
        display: inline-block;
    }
    #submit_button {
        text-align: center;
        font-size: 1.5em;
    }
    table {
        display: none;
    }
    #features_list {
        margin-top: 10px;
    }
    #features_title {
        text-align: center;
        font-size: 1.2em;
    }
    footer {
        bottom:0;
        width:100%;
        height:40px;
        background: gray;
        display: inline-block;
    }
    html {
        height: 100%;
    }
}